body,
html {
    width: 100%;
    height: 100%;
    font-family: Comic Neue;
        background: url(SPREAD_20260204_211807_0000.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


h1{
    font-family: Schoolbell;
    font-size: 120px;
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buffer{
    height: 300px;
}

h6{
    color: black;
    margin-top: 10px;
}

.btn{
    font-weight: 700;
    border-radius: 300px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.btn-primary{
    background-color: #9ea79f;
    border-color: #9ea79f;
    color: black;
}

.btn-primary:hover {
    background-color: #6b6e6b;
    border-color: #6b6e6b;
    color: black;
    border-width: 4px;
}
.btn-xl {
    padding: 1rem 2rem;
}

